*{
	margin: 0px;
	padding: 0px;

}

body{
	background-image: url(multimedia/FondoContacto.png );
	background-size: 100% 107%;
	background-position: auto;
}

#container{
	width: 70%;
	height: 145px;
	border: 1px solid black;
	border-right: 2px solid black;
	margin-left: 205px;
	

}

header{
	height: 146px;
	width: 100%;

}

nav ul li {
	float: left;
	color: white;
	margin: 10px;
	line-height: 30px;
}
 a:hover{
 	text-decoration: underline;
 	background: #8CF59F;
	color: black;
}

a{
	color: white;
	padding: 16px 5px;
	
}

nav{
	background: grey;
	height: 50px;
	border: 1px solid black;
	padding-left: 130px;
}

.divider{
	clear: both;
}

#content{
	float: left;
	width: 64%;
	min-height: 684px;
	background: lightyellow;
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	border: 1.5px solid black;
}
.Formulario{
	width: 400px;
	height: 350px;
	background: linear-gradient(130deg,#C3E9E7,#FFFFFF);
	padding: 40px;
	margin-top: 60px;
	margin-left: 70px;
	border-radius: 15px;
}
.Formulario h2{
	font-size: 22px;
	font-family: 'calibri';
	margin-bottom: 20px;
	text-align: center;
}
.controls{
	width: 95%;
	background:white;
	padding: 10px;
	border-radius: 7px;
	margin-bottom: 15px;
	border:1px solid black;
	font-family: 'calibri';
	font-size: 18px;
}
.boton{
	width: 100%;
	background:grey;
	border:none;
	padding: 12px;
	color: white;
	margin:16px 0;
	font-size: 16px;
}
aside{
	float: left;
	background: #87CEFA;
	width: 30%;
	min-height: 300px;
}

#BUSQUEDA{
	float: left;
	font-family: 'calibri';
	background: #A3F5EB;
	width: 29.7%;
	min-height: 100px;
	padding-left: 14px;
	padding-top: 40px;
	border-bottom: 0.5px solid black;
	border-right: 0.5px solid black;
	border-top: 0.5px solid black;


}
#REDES{
	float: left;
	background: white ;
	width: 31%;
	min-height: 553.1px;
	padding-left:3px;
	padding-top: 30px;
	border-right: 0.5px solid black;
	border-bottom: 1.5px solid black;

}


footer{
	line-height: 15px;
	text-align: left;
	background: grey;
	color: white;
	padding: 10px;
	border: 1px solid black;
	font-family: 'calibri';

}
