*{
	margin: 0px;
	padding: 0px;

}

body{
	background-image: url(multimedia/FondoIntereses.png );
	background-size: 50% 50%;
	background-position: auto;
}

#container{
	width: 70%;
	height: 145px;
	border: 1px solid black;
	border-right: 2px solid black;
	margin-left: 205px;
	

}

header{
	height: 146px;
	width: 100%;

}

nav ul li {
	float: left;
	color: white;
	margin: 10px;
	line-height: 30px;
}
 a:hover{
 	text-decoration: underline;
 	background: #C898F8;
	color: black;
}

a{
	color: white;
	padding: 16px 5px;
}

nav{
	background: grey;
	height: 50px;
	border: 1px solid black;
	padding-left: 130px;
}

.divider{
	clear: both;
}

#content{
	float: left;
	width: 64%;
	min-height: 684px;
	background: lightyellow;
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	border: 1.5px solid black;
}
.art h4{
	margin-top: 15px;
	margin-bottom: 15px;
}
.art2 {
	margin-top: 25px;

}
aside{
	float: left;
	background: #87CEFA;
	width: 30%;
	min-height: 300px;
}

#BUSQUEDA{
	float: left;
	font-family: 'calibri';
	background: #F3B3DB;
	width: 29.7%;
	min-height: 100px;
	padding-left: 14px;
	padding-top: 40px;
	border-bottom: 0.5px solid black;
	border-right: 0.5px solid black;
	border-top: 0.5px solid black;


}
#REDES{
	float: left;
	background: white ;
	width: 31%;
	min-height: 553.1px;
	padding-left:3px;
	padding-top: 30px;
	border-right: 0.5px solid black;
	border-bottom: 1.5px solid black;

}


footer{
	line-height: 15px;
	text-align: left;
	background: grey;
	color: white;
	padding: 10px;
	border: 1px solid black;
	font-family: 'calibri';
}
